@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main: #8251e7;
    --main-lighter: #a57bfa;

    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 10px;
    background-color: #18181b;
}

::-webkit-scrollbar-track {
    margin: 4px;
    border: 1px solid transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border: 3px solid #18181b;
    background-color: var(--main);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-lighter);
}